body {
  font-family: Arial;
  margin: 0;
  padding: 20px;
  background: #f4f6f8;
}

main {
  max-width: 900px;
  margin: auto;
}

section {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

input, select, button {
  padding: 10px;
  margin: 5px 0;
  width: 100%;
}

#list li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 5px 0;
  border-bottom: 1px solid #ddd;
}

.edit-btn { background: blue; color: white; }
.delete-btn { background: red; color: white; }

mark { background: yellow; }